#page-background
			{
			display:block-inline;
			width:100%;
			height:100%;
			background-color:white;
			}

#content-container
			{
			position:relative;
			left: 275px;
			top: 20px;
			display:block;
			width:75%;
			height:75%;
			background-color:red;
			}

#side-menu	
			{	
				display: block;
				position: fixed;
				width: 250px;
				height: 100%;
				background-color:red;
			}
			
#logo
			{
			box-sizing: box;
			height: 141px;
			background-color:black;
			
			}
			
#side-menu-bottom 
			{
			display:block;
			position: relative;
			box-sizing: border-box;
			background-color:#3EA8DA;
			text-align: center;
			height:100%;
			}
#side-menu-bottom-green
			{
			display:block;
			position:relative;
			width:90px;
			background-color:2EEACE;
			height:100%;
			}
			
.category_container 
			{
			display:block;
			position: relative;
			box-sizing: border-box;
			background-color:blue;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			}
			
.cat-collapse
			{
			max-height: 30px;
			transition: max-height 0.3s ease-out;
			}
			
.cat-expand
			{
			max-height: 400px;
			transition: max-height 0.3s ease-in;
			}

.section	{
			display:block;
			box-sizing: border-box;
			height:30px;
			padding: 5 0 0 0;
			}
.section-head
			{
			background-color: FF9933;
			border-bottom: 1px solid white;
			}
.section-head:hover
			{
			background-color:FF6600;
			}
		
.section-link
			{
			background-color:FFCC00;
			border-bottom: 1px solid D1A3FF;
			}
			
.section-link:hover
			{
			background-color:yellow;
			}


