body	{
		background-color:white;
		font-family: 'Lato', serif;
		font-weight: bold;
		-o-user-select: none;
		user-select: none;
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
		cursor: pointer;
		margin:0;padding:0
		}

input { 
    text-align: center; 
    font-family: 'Lato', serif;
	font-weight: bold;
	font-size:200%;
	color:white;
}
		
.hide {
		display:none;
		}

.show	{
		display:block;
		}
		
#wrap	{
		width:100%;
		height:100%;
		}

.large_icon {
	font-size:800%;
}


#title {
	background-color:#6699CC;
	color:white;
	width: 100%;
	height: 10%;
	text-align:center;
}

#vote_area {
	background-color:#F76C5E;
	color:white;
	width: 100%;
	height: 80%;
	text-align:center;
}

.vote_option {
	width: 100%;
	height: 19.9%;
	background-color:#F68E5F;
	border-bottom: 1px solid white;
}

.edit_option {
	width: 100%;
	height: 100%;
	background-color:#F68E5F;
	font-size: 300%;
}

.vote_title {
	width: 66.6%;
	height: 100%;
	position: relative;
    float: left;
}

.vote_action_area {
	width:33.3%;
	height:100%;
	position: relative;
    float: right;
}

.action_remove{
	background-color:#F76C5E;
	color:white;
	font-size: 150%;
}

.action_default{
	background-color:white;
	color:black;
}

.action_selected{
	background-color:#06A77D;
	color:white;
}

#select_voters {
	width:100%;
	height: 100%;
	background-color:#F68E5F;
	color:black;
	z-index: 10;
}

.edit_option_voters {
	width: 100%;
	height: 100%;
	background-color:#F76C5E;
	font-size: 700%;
}

#select_voters_block{
	width:50%;
	height:30%;
	background-color: #F76C5E;
	position:relative;
	top:25%;
	bottom:25%;
	left:25%;
}

#pass_prompt {
	width:100%;
	height: 100%;
	background-color: #F68E5F;
	color:black;
	z-index: 10;
}

#pass_prompt_block{
	width:50%;
	height:30%;
	position:relative;
	top:25%;
	bottom:25%;
	left:25%;
	text-align: center; 
    font-family: 'Lato', serif;
	font-weight: bold;
	font-size:200%;
	color:white;
}

#prompt_confirm{
	width:100%;
	height:100%;
}

.prompt_unselected{
	background-color: gray;
}

#vote_confirm{
	width:100%;
	height:100%;
}

#action_area {
	background-color:#06A77D;
	color:white;
	width: 100%;
	height: 10%;
}

.action_button_1{
	width:33.3%;
	height:100%;
	background-color:white;
	position: relative;
    float: left;
    color:#BFC0C0;
}

.action_button_2 {
	width:33.3%;
	height:100%;
	position: relative;
	background-color:#6699CC;
    float: left;	
}

.action_button_3{
	width:33.3%;
	height:100%;
	background-color:#06A77D;
	position: relative;
    float: right;
    color:white;
}

#result_title{
	width:100%;
	height:25%;
	font-size: 150%;
}

#vote_winner{
	width:100%;
	height:50%;
	font-size: 150%;
}

#vote_percentage{
	width:100%;
	height:25%;
	text-align: right;	
	font-size: 150%;
}

.center_text {
		position:relative;
		top:50%;
		width:100%;
		height:50%;
		line-height:15%;
		float:left;
		font-size:200%;
		text-align:center;
			}

.left {
	text-align: left;
	text-indent: 10%;
}


.voter_prompt_text {
		position:relative;
		top:30%;
		width:100%;
		height:50%;
		line-height:15%;
		float:left;
		font-size:200%;
		text-align:center;
			}
