body	{
		background-color:black;
		font-family: 'Lato', serif;
		font-weight: bold;
		-o-user-select: none;
		user-select: none;
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
		cursor: pointer;
		}
#wrap	{
		width:100%;
		height:100%;
		}
.team_button {
		width:50%; 
		height:60%;
		text-align:center;
		color:white;
		display:block;
		font-size:700%;
		}
		
#red_increase	{
		background-color:#C9042B; 
		float:left;
		}
#blue_increase	{
		
		background-color:#6665DD; 
		float:left;
		}

.decrease_button	{
		width:50%;
		height:20%;
		font-weight: bold;
		color:white;
		text-align:center;
		font-size:200%;
		}
		
#red_decrease	{
		background-color:#DB504A;
		float:left;
		}
#blue_decrease	{
		background-color:#8789C0;
		float:right;
		}

		
#new_game {
		background-color:#8AA399;
		width:100%;
		height:20%;
		float:left;
		text-align:center;
		color:white;
		font-size:200%;
		}
		
#redCount {
			
			}

#blueCount {

			}
			
			
.center_text {
		position:relative;
		top:40%;
		width:100%;
		height:50%;
			}